/* body{
  background-color: black;
  display: flex;
  justify-content: center;

} */
.movie-list{  
  
  padding-top: 15px;
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(33,37,41);
}

.single-movie{
  background-color:rgb(33,37,41);
  width:250px;
  height: 600px;
  padding: 5px;
  justify-content: center;
  margin-bottom: 5px;
  overflow: hidden;

}
.single-movie img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.Search{
  border-radius: 2px;

}

.Search-Header{
  display: flex;
  justify-content: right;
  margin-top: 5px;
  border-radius: 2px;
  

}

.main-container{
  background-color: rgb(33 37 41 / 1);
  color: #ffffff;

}



